<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('includes/metaHead'); %>
  <!--Nuestros estilos :v -->
  <%- include('includes/metaAdmin'); %>
</head>

<body>

<!-- =====================================================
              HEADER
======================================================== -->
  <%- include('includes/headAdmin'); %>

 <!-- =====================================================
              CONTENIDO
======================================================== -->
  <%
  if (data.usuario == undefined)
  { // Formulario vacio
    %>
        <section id="contenido" class="col-md-12">

          <div class="col-xs-12 mx-auto" style="width: 100%; text-align: center;  font-size: 25px;">
          Nuevo Usuario
          </div>

          <div class="row justify-content-end">
            <div>
            <a class="btn btn-lg btn-primary" href="/admin/usuarios" role="button">Regresar</a>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label" value="" id="id"></label>
            <input class="form-control" type="hidden" id="userId" name="userId" value="">
          </div>

          <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">E-mail</label>
            <div class="col-10">
              <input class="form-control" type="email" id="email">
            </div>
          </div>
          

          <div class="form-group row">
            <label for="Password1" class="col-2 col-form-label">Contraseña</label>
            <div class="col-10">
              <input type="password" class="form-control" id="Password1" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="Password2" class="col-2 col-form-label">Confirmar contraseña</label>
            <div class="col-10">
              <input type="password" class="form-control" id="Password2" placeholder="Confirma password">
            </div>
          </div>
          <br>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" id="nombre">
            </div>
          </div>

          <br>
          <div class="row justify-content-center">
            <div>
            <input class="btn btn-lg btn-primary col-md-12" type="submit" value="Guardar" id="guardaUser">
            </div>
          </div>

        </section>
  <%}
  else
  {%>

        <section id="contenido" class="col-md-12">

          <div class="col-xs-12 mx-auto" style="width: 100%; text-align: center;  font-size: 25px;">
          Editar Usuario
          </div>

          <div class="row justify-content-end">
            <div>
            <a class="btn btn-lg btn-primary" href="/profile" role="button">Regresar</a>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label" value="" id="id"></label>
            <input class="form-control" type="hidden" id="userId" name="userId" value="<%= data.usuario._id %>">
          </div>

          <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">E-mail</label>
            <div class="col-10">
              <input class="form-control" type="email" id="email" value="<%= data.usuario.local.email %>">
            </div>
          </div>

          <p>Solo si desea cambiar la contraseña rellene "Contraseña" y "Confirmar contraseña"</p>
          <div class="form-group row">
            <label for="Password1" class="col-2 col-form-label">Contraseña</label>
            <div class="col-10">
              <input type="password" class="form-control" id="Password1" placeholder="Password" >
            </div>
          </div>
          <div class="form-group row">
            <label for="Password2" class="col-2 col-form-label">Confirmar contraseña</label>
            <div class="col-10">
              <input type="password" class="form-control" id="Password2" placeholder="Confirma password">
            </div>
          </div>
          <br>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
            <div class="col-10">
              <input class="form-control" type="text" id="nombre" value="<%= data.usuario.nombre %>">
            </div>
          </div>

          <br>
          <div class="row justify-content-center">
            <div>
            <input class="btn btn-lg btn-primary col-md-12" type="submit" value="Guardar" id="guardaUser">
            </div>
          </div>

        </section>
  <%}
  %>

<%- include('includes/externalSource'); %>
<%- include('includes/externalSourceAdmin'); %>

    <div id="modalResponse" class="vertical-center-align">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2>Los datos se guardaron correctamente</h2>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

  </body>
</html>